<div ng-repeat="item in repeatItem">
	<div ng-click="listItemCtrl.seeDetail(item.influencer_id,item.itemIndex);" class="col-md-3 influencerImgWrapper item_{{item.influencer_id}} {{item.itemIndex}} {{showIndex}}">
	  <div class="stateWrapper">
	    <span class="state two_letter_state_box">{{item.state}}</span>
	    <img src="http://50.secondthought.com/images/original/{{item.influencer_image}}" />
	    <div class="grid_hover_bg">
	        <div class="grid_hover_name">{{item.influencer_name}}</div>
	        <div class="grid_hover_state">{{item.state_full}}</div>
	    </div>
	  </div>  
	</div>
	<detail-view-item ng-if="item.itemIndex + 1 == showIndex" detail-view-obj=detailViewObj></<detail-view-item>
</div>


